<%= form_for(@dnd_character) do |f| %>
  <% if @dnd_character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dnd_character.errors.count, "error") %> prohibited this dnd_character from being saved:</h2>

      <ul>
      <% @dnd_character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :seed %><br />
    <%= f.text_field :seed %>
  </div>
  <div class="field">
    <%= f.label :settings %><br />
    <%= f.text_field :settings %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
